* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: 'Permanent Marker', cursive;
}
  .header{
    position: relative;    
    height: fit-content;
    margin-bottom: 4px;
  }

  .container {
    max-width: 1640px;
    
    padding: 0;
    height: 60px;
    margin: 0 auto;
    position: relative;
  }

.nav{
    background-color:   #4215FF;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 9px;
    flex-wrap: wrap;
    height: 90px;
    
  }
  
  .nav span{
    color: white;
    font-size: 30px;
    font-weight: bolder;
    padding-left: 5%;
    letter-spacing: 2px;
  }
  .nav ul{
      width: auto;
      
  }
  .nav li{
      display: inline-block;
      list-style: none;
      margin-right: 35px;
      font-size: 28px;
  }

  .nav li:hover{
    border-left: 1px solid #1F1B56;
    padding: 5px;
    transition: 1s;
    
  }
  
  .nav li a{
    color: #00FAFF;
      font-size: 22px;
      font-weight: 100;
      font-family: 'Julius Sans One', sans-serif;
    text-decoration:none ;
  }
    
  .nav li a:hover{
      color: white;
      transition: 1.2s;
  }
 
  .text:hover {
    background-color: #000E34;
    transition: 1s;
  }




  .nav .Ham-icon {
    display: none;
    font-size: 20px;
  }


  /* Start Section one  */
  .container {
    max-width: 1640px;    
    padding: 0;
    
    height: 60px;
    margin: 0 auto;
    position: relative;
  }
.sec-one {
    margin: 70px 0 100px 0;
    position: relative;
  }
  
  .sec-one .vr-img {
      
    width: 47%;
    position: absolute;
    left: 180px;
    box-shadow: 4px 4px 20px 1px black ;
    
  }
  
  .sec-one .vr-img img {
    width: 100%;
  }
  
  .sec-one .vr-text {
    
    background-color: #ffffff;
    height: 400px;
    padding: 74px;
    width: 40%;
    
    
    position: absolute;
    top: 140px;
    left: 51%;
  }
  
  .sec-one .vr-text h1 {
    color: #1F1B56;
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 20px;
    background-color: #ffffff;
  }
  
  .sec-one .vr-text p {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 600;
    color:#0025FF;
    line-height: 1.4;
    font-size: 16px;
  }
  /* End Section one  */
  
    /* Start Section two */
    .container {
        max-width: 1640px;    
        padding: 0;
        
        height: 60px;
        margin: 0 auto;
        position: relative;
      }
    .sec-two {
        margin: 570px 0 100px 0;
        position: relative;
      }
      
      .sec-two .vr-img2 {
          
        width: 37%;
        position: absolute;
        left: 50%;
        box-shadow: 4px 4px 20px 1px black ;
        
      }
      
      .sec-two .vr-img2 img {
        width: 100%;
      }
      
      .sec-two .vr-text2 {
        
        background-color: #ffffff;
        height: 440%;
        padding: 74px;
        width: 50%;
        
        
        position: absolute;
        top: 190px;
        left: 2%;
      }
      
      .sec-two .vr-text2 h1 {
        color: #1F1B56;
        font-size: 45px;
        font-weight: 400;
        text-transform: uppercase;
        padding-bottom: 20px;
        background-color: #ffffff;
      }
      
      .sec-two .vr-text2 p {
        font-family: 'Julius Sans One', sans-serif;
        font-weight: 600;
        color:#0025FF;
        line-height: 1.4;
        font-size: 16px;
      }
      /* end sec 2*/
/* start footer */
.footer {
    
    margin-top: 40em;
    background-color: #000E71;
    padding: 20px 0;
  }

  
.containerr nav{
    
    display: flex;
      justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
 .containerr  nav span{
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
  }
  
  .containerr  nav li{
      display: inline-block;
      list-style: none;
      margin-right: 25px;
  }
  
  .containerr nav li a{
      color: #ffffff;
      font-family: 'Julius Sans One', sans-serif;
    text-decoration:none ;
  }
  
  .containerr nav .icon {
    display: none;
  }
  
  
  .footer .footer-content {
    display: flex;
    
    align-items: center;
    flex-wrap: wrap;
  }
  
  
  .nav-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 45%;
  }
  
  .nav-footer span {
    margin-bottom: 20px;
    font-size: 22px;
  }
  
  .copy-r {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #ffffff;
  }
  
  
  .containerr .icons i {
    margin: 0 5px 20px 0;
    font-size: 20px;
  }
  
  .copy-m span {
    font-size: 14px;
    color: #737373;
    text-align: center;
  }  
  /***************************************************************/
  @media (max-width: 768px) {
      
    .nav ul{
        
        width: 0;
        height: 100%;
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        background-color: rgb(0,0,0); /* Black fallback color */
        background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
        overflow-x: hidden; /* Disable horizontal scroll */
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20%;
    }
    .nav li{
        font-size: 2em;
        margin-top: 1em;
    }
    .nav li a{
        color: #ffffff;
        font-size: 26px;
        font-weight: 100;
      text-decoration:none ;
    }
    #logo{
        position: absolute;
        top:.4em;
    }
    .nav .Ham-icon {
        display: initial;
        margin: 20px;
        font-size: 24px;
    }
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 100%;
        text-align: center;
      }

   

      /* Start Section one  */
      
  .sec-one {
    margin: 120px 5% 70px 5%;
    display: block;
  }

  .sec-one .vr-img {
    position: absolute;
    left: 0px;
    width: 100%;
  }

  .sec-one .vr-text {
    width: 100%;
    position: absolute;
    left: 0px;
    padding: 20px 0;
    text-align: center;
    margin-top: 40%;
    height: 100px;
  }


  .sec-one .vr-text h1 {
    width: 100%;
    font-size: 2.1em;
  }

  .sec-one .vr-text p {
    font-size: 16px;
  }
  /* End Section one  */

  /*Start sec 2*/

  
  .sec-two {
    margin: 500px 5% 70px 5%;
    display: block;
  }

  .sec-two .vr-img2 {
    position: absolute;
    left: 0px;
    width: 100%;
    
  }
  /*.sec-two .vr-img2 img {
    height: 270px;
}*/

  .sec-two .vr-text2 {
    width: 100%;
    position: absolute;
    left: 0px;
    padding: 20px 0;
    text-align: center;
    margin-top: 68%;
    height: 100px;
  }


  .sec-two .vr-text2 h1 {
    width: 100%;
    font-size: 2.1em;
  }

  .sec-two .vr-text2 p {
    font-size: 16px;
  }

  .facebook-responsive iframe{
    height: 300px;
}

   


  /* start footer */
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

  .footer .nav-footer {
    margin: 0;
    display: flex;
    align-items: center;
    flex-basis: 100%;
  }

  .nav-footer span {
    margin-top: 40px;
  }

  .nav-footer ul {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-footer ul li{
    padding: 10px 0;
  }


  .text{
      border: none;
  }

  .copy-r {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 20px 5%;
  }

  .icons i {
    margin: 0 15px 25px 0;
    font-size: 30px;
  }
  
  .copy-m {
    font-size: 18px;
    
  }
  .copy-m span{
    color: white;
    
  }
  /* end footer */
  

}

