* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: 'Permanent Marker', cursive;
    background-color: #000E34;
}
  .header{
    position: relative;    
    height: fit-content;
    margin-bottom: 4px;
  }

  .container {
    max-width: 1640px;
    
    padding: 0;
    height: 60px;
    margin: 0 auto;
    position: relative;
  }

.nav{
    background-color:   #12284F;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 9px;
    flex-wrap: wrap;
    height: 90px;
    
  }
  
  .nav span{
    color: white;
    font-size: 30px;
    font-weight: bolder;
    padding-left: 5%;
    letter-spacing: 2px;
  }
  .nav ul{
      width: auto;
      
  }
  .nav li{
      display: inline-block;
      list-style: none;
      margin-right: 35px;
      font-size: 28px;
  }

  .nav li:hover{
    border-left: 1px solid white;
    padding: 5px;
    transition: 1s;
  }

  .nav li a:hover{
    color: white;
    transition: 1.2s;
}


  
  .nav li a{
    color: #00FAFF;
      font-size: 22px;
      font-weight: 100;
      font-family: 'Julius Sans One', sans-serif;
    text-decoration:none ;
  }
  
  .nav .Ham-icon {
    display: none;
    font-size: 20px;
  }


  

  /* start section images */
.sec-two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    flex-direction: column;
  }
  
  .sec-two h1{
      
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 auto;
    color: white;
  }
  .sec-two p{
    font-size: 25px;
    font-weight: 400;
    color: white;
  }
  
  
  
  .sec-img {
    margin: 0px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  
  .sec-img .img {
    width: 33%;
    margin-bottom: 30px;
    position: relative;
  }
  
  .sec-img .img img{
    width: 100%;
    height: 100%;
    filter:brightness(75%);
  }
  
  .sec-img .img .mess-img {
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 55%;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 26px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .sec-img .img .mess-img span {
    display: block;
  }
  /* end section images */
  







  .containere{
    margin-top: 120px;
}

.headerh{
    text-align: center;
    margin: 70px auto 30px auto;
    color: #00FAFF;
}
.section{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin: 10px;
    align-items: center;
}
.section .image{
    width: 300%;
}
.section .image img{
    width: 100%;
}
.section .txt{
    padding: 40px 40px 40px 40px;
    font-weight: 900;
    font-size: 17px;
    color: wheat;
}



  
/* start footer */
.footer {
    
    
    background-color:   #12284F;
    padding: 20px 0;
  }

  
.containerr nav{
    
    display: flex;
      justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
 .containerr  nav span{
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
  }
  
  .containerr  nav li{
      display: inline-block;
      list-style: none;
      margin-right: 25px;
  }
  
  .containerr nav li a{
      color: #ffffff;
      font-family: 'Julius Sans One', sans-serif;
    text-decoration:none ;
  }
  
  .containerr nav .icon {
    display: none;
  }
  
  
  .footer .footer-content {
    display: flex;
    
    align-items: center;
    flex-wrap: wrap;
  }
  
  
  .nav-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 45%;
  }
  
  .nav-footer span {
    margin-bottom: 20px;
    font-size: 22px;
  }
  
  .copy-r {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #ffffff;
  }
  
  
  .containerr .icons i {
    margin: 0 5px 20px 0;
    font-size: 20px;
  }
  
  .copy-m span {
    font-size: 14px;
    color: white;
    text-align: center;
  }



  /***************************************************************/
  @media (max-width: 768px) {
      
    .nav ul{
        
        width: 0;
        height: 100%;
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        background-color: rgb(0,0,0); /* Black fallback color */
        background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
        overflow-x: hidden; /* Disable horizontal scroll */
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20%;
    }
    .nav li{
        font-size: 2em;
        margin-top: 1em;
    }
    .nav li a{
        color: #ffffff;
        font-size: 26px;
        font-weight: 100;
      text-decoration:none ;
    }
    #logo{
        position: absolute;
        top:.4em;
    }
    .nav .Ham-icon {
        display: initial;
        margin: 20px;
        font-size: 24px;
    }
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 100%;
        text-align: center;
      }

        /* start section images */
  .sec-two{
    display: flex;
    justify-content: center;
  }

  .sec-img {
    justify-content:initial;
    margin-bottom: 20px;
  }

  .sec-img .img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }

  .sec-img .img .mess-img{
    font-size: 30px;
    width: initial;
    bottom: 5%;
  }

  .all-img {
    position: relative;
    padding-bottom: 100px;
  }

  
  /* end section images */

        
.section{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.section .image{
    width: 100%;

}
.section .image img{
    width: 100%;
}



  /* start footer */
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
  }

  .footer .nav-footer {
    margin: 0;
    display: flex;
    align-items: center;
    flex-basis: 100%;
  }

  .nav-footer span {
    margin-top: 40px;
  }

  .nav-footer ul {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-footer ul li{
    padding: 10px 0;
  }

  .copy-r {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 5%;
  }

  .icons i {
    margin: 0 15px 25px 0;
    font-size: 30px;
  }
  
  .copy-m {
    font-size: 18px;
  }
  .text{
    border: none;
}
  /* end footer */
}

